In [7]:
import pandas as pd

# read in the data
users_list = pd.read_csv("../data/user_list.csv")
coupons_detail = pd.read_csv("../data/coupon_detail_train.csv")
coupons_list_train = pd.read_csv("../data/coupon_list_train.csv")
coupons_list_test = pd.read_csv("../data/coupon_list_test.csv")

coupons_detail.head()

,ITEM_COUNT,I_DATE,SMALL_AREA_NAME,PURCHASEID_hash,USER_ID_hash,COUPON_ID_hash
0,1,2012-03-28 15:06:06,兵庫,c820a8882374a4e472f0984a8825893f,d9dca3cb44bab12ba313eaa681f663eb,34c48f84026e08355dc3bd19b427f09a
1,1,2011-07-04 23:52:54,銀座・新橋・東京・上野,1b4eb2435421ede98c8931c42e8220ec,560574a339f1b25e57b0221e486907ed,767673b7a777854a92b73b0934ddfae7
2,1,2011-07-16 00:52:49,恵比寿・目黒・品川,36b5f9ba46c44b65587d0b16f2e4c77f,560574a339f1b25e57b0221e486907ed,4f3b5b91d9831192557c056022fdc1f2
3,1,2011-07-16 00:54:53,恵比寿・目黒・品川,2f30f46937cc9004774e576914b2aa1a,560574a339f1b25e57b0221e486907ed,4f3b5b91d9831192557c056022fdc1f2
4,1,2011-07-16 00:55:52,恵比寿・目黒・品川,4d000c64a55ac573d0ae1a8f03677f50,560574a339f1b25e57b0221e486907ed,4f3b5b91d9831192557c056022fdc1f2

In [45]:
# group purchased coupons by user
#user_group = coupons_detail[["USER_ID_hash", "COUPON_ID_hash"]].groupby("USER_ID_hash")
#user_group.head()

pd.merge(coupons_detail, coupons_list_test, on='COUPON_ID_hash', how = 'inner')
pd.merge(coupons_list_train, coupons_list_test, on='COUPON_ID_hash', how= 'left')

,CAPSULE_TEXT_x,GENRE_NAME_x,PRICE_RATE_x,CATALOG_PRICE_x,DISCOUNT_PRICE_x,DISPFROM_x,DISPEND_x,DISPPERIOD_x,VALIDFROM_x,VALIDEND_x,...,USABLE_DATE_WED_y,USABLE_DATE_THU_y,USABLE_DATE_FRI_y,USABLE_DATE_SAT_y,USABLE_DATE_SUN_y,USABLE_DATE_HOLIDAY_y,USABLE_DATE_BEFORE_HOLIDAY_y,large_area_name_y,ken_name_y,small_area_name_y
0,グルメ,グルメ,50,3000,1500,2011-07-08 12:00:00,2011-07-09 12:00:00,1,2011-07-10,2011-12-08,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,グルメ,グルメ,51,2080,1000,2011-07-01 12:00:00,2011-07-02 12:00:00,1,2011-07-03,2011-12-04,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,グルメ,グルメ,50,7000,3500,2011-07-12 12:00:00,2011-07-15 12:00:00,3,2011-07-16,2012-01-11,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,グルメ,グルメ,50,3000,1500,2011-07-09 12:00:00,2011-07-11 12:00:00,2,2011-07-12,2011-12-01,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,グルメ,グルメ,50,2000,1000,2011-07-05 12:00:00,2011-07-06 12:00:00,1,2011-07-07,2011-12-30,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,グルメ,グルメ,50,4000,2000,2011-07-24 12:00:00,2011-07-26 12:00:00,2,2011-07-27,2011-10-30,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,グルメ,グルメ,51,3495,1700,2011-09-03 12:00:00,2011-09-05 12:00:00,2,2011-09-07,2012-02-28,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,グルメ,グルメ,51,3100,1500,2011-08-02 12:00:00,2011-08-04 12:00:00,2,2011-08-05,2012-01-31,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,グルメ,グルメ,50,3500,1750,2011-08-11 12:00:00,2011-08-13 12:00:00,2,2011-08-14,2011-11-14,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,グルメ,グルメ,57,10500,4500,2011-09-21 12:00:00,2011-09-24 12:00:00,3,2011-09-26,2012-02-29,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10,グルメ,グルメ,50,3800,1900,2011-10-01 12:00:00,2011-10-03 12:00:00,2,2011-10-05,2012-03-31,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11,グルメ,グルメ,50,8800,4400,2011-08-25 12:00:00,2011-08-28 12:00:00,3,2011-08-29,2012-02-24,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12,グルメ,グルメ,50,6390,3150,2011-11-06 12:00:00,2011-11-08 12:00:00,2,2011-11-10,2012-02-29,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13,グルメ,グルメ,50,5000,2500,2011-09-13 12:00:00,2011-09-15 12:00:00,2,2011-09-16,2012-03-13,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14,グルメ,グルメ,50,2980,1490,2011-09-13 12:00:00,2011-09-16 12:00:00,3,2011-09-18,2012-03-15,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
15,グルメ,グルメ,61,3939,1500,2011-08-02 12:00:00,2011-08-04 12:00:00,2,2011-08-05,2011-10-31,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
16,グルメ,グルメ,50,6000,2980,2011-07-13 12:00:00,2011-07-15 12:00:00,2,2011-07-16,2011-10-31,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
17,グルメ,グルメ,60,3000,1200,2011-11-02 12:00:00,2011-11-04 12:00:00,2,2011-11-09,2012-02-29,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
18,グルメ,グルメ,50,4230,2100,2011-07-30 12:00:00,2011-08-01 12:00:00,2,2011-08-02,2011-11-01,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19,グルメ,グルメ,51,3075,1500,2011-07-14 12:00:00,2011-07-17 12:00:00,3,2011-07-18,2011-11-30,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
20,グルメ,グルメ,50,4000,2000,2011-08-19 12:00:00,2011-08-21 12:00:00,2,2011-08-22,2012-02-16,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
21,グルメ,グルメ,50,5000,2500,2011-07-21 12:00:00,2011-07-23 12:00:00,2,2011-07-24,2011-11-30,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
22,グルメ,グルメ,60,2500,1000,2011-09-26 12:00:00,2011-09-28 12:00:00,2,2011-09-29,2012-03-26,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
23,グルメ,グルメ,50,8000,4000,2011-07-07 12:00:00,2011-07-10 12:00:00,3,2011-07-11,2011-11-30,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
24,グルメ,グルメ,50,1000,500,2011-07-02 12:00:00,2011-07-05 12:00:00,3,2011-07-06,2011-10-03,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25,グルメ,グルメ,50,2500,1250,2011-07-03 12:00:00,2011-07-04 12:00:00,1,2011-07-05,2011-12-08,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
26,グルメ,グルメ,50,1980,990,2011-07-14 12:00:00,2011-07-17 12:00:00,3,2011-07-18,2011-11-30,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
27,グルメ,グルメ,50,5000,2500,2011-09-01 12:00:00,2011-09-04 12:00:00,3,2011-09-05,2012-01-31,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
28,グルメ,グルメ,56,4585,2000,2011-11-02 12:00:00,2011-11-04 12:00:00,2,2011-11-05,2012-01-07,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
29,グルメ,グルメ,50,5000,2500,2011-07-27 12:00:00,2011-07-29 12:00:00,2,2011-07-30,2011-10-31,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
19383,ネイル・アイ,ネイル・アイ,63,24080,8900,2012-06-19 12:00:00,2012-06-24 12:00:00,5,2012-06-25,2012-10-01,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19384,リラクゼーション,リラクゼーション,55,21900,9800,2012-06-21 12:00:00,2012-06-26 12:00:00,5,2012-06-27,2012-09-23,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19385,ネイル・アイ,ネイル・アイ,74,13500,3510,2012-06-20 12:00:00,2012-06-25 12:00:00,5,2012-06-26,2012-09-23,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19386,リラクゼーション,リラクゼーション,70,8500,2500,2012-06-22 12:00:00,2012-06-26 12:00:00,4,2012-06-27,2012-12-22,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19387,通信講座,レッスン,74,79300,20000,2012-06-19 12:00:00,2012-06-24 12:00:00,5,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19388,ヘアサロン,ヘアサロン,72,17850,4980,2012-06-19 12:00:00,2012-06-24 12:00:00,5,2012-06-25,2012-10-01,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19389,リラクゼーション,リラクゼーション,65,8300,2880,2012-06-19 12:00:00,2012-06-23 12:00:00,4,2012-06-24,2012-09-23,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19390,その他,その他のクーポン,66,3000,1000,2012-06-19 12:00:00,2012-06-23 12:00:00,4,2012-06-26,2012-07-31,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19391,ヘアサロン,ヘアサロン,70,4400,1320,2012-06-21 12:00:00,2012-06-25 12:00:00,4,2012-06-26,2012-09-30,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19392,ヘアサロン,ヘアサロン,65,9765,3400,2012-06-23 12:00:00,2012-06-28 12:00:00,5,2012-06-29,2012-09-30,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19393,グルメ,グルメ,50,5000,2500,2012-06-19 12:00:00,2012-06-25 12:00:00,6,2012-06-26,2012-11-15,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19394,エステ,エステ,85,21000,3150,2012-06-19 12:00:00,2012-06-24 12:00:00,5,2012-06-25,2012-09-30,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19395,通信講座,レッスン,66,8940,2980,2012-06-22 12:00:00,2012-06-25 12:00:00,3,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19396,グルメ,グルメ,50,300,150,2012-06-20 12:00:00,2012-06-26 12:00:00,6,2012-06-27,2012-10-26,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19397,ヘアサロン,ヘアサロン,66,20000,6800,2012-06-21 12:00:00,2012-06-25 12:00:00,4,2012-06-26,2012-09-26,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19398,グルメ,グルメ,50,7100,3480,2012-06-16 12:00:00,2012-06-23 12:00:00,7,2012-06-24,2012-09-24,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19399,レジャー,レジャー,50,2500,1250,2012-06-21 12:00:00,2012-06-24 12:00:00,3,2012-07-21,2012-07-21,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19400,その他,その他のクーポン,95,2000,100,2012-06-21 12:00:00,2012-06-26 12:00:00,5,2012-06-28,2012-08-31,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19401,グルメ,グルメ,50,3000,1500,2011-08-18 12:00:00,2011-08-20 12:00:00,2,2011-08-21,2011-11-30,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19402,グルメ,グルメ,54,2200,1000,2011-07-02 12:00:00,2011-07-03 12:00:00,1,2011-07-11,2011-12-30,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19403,グルメ,グルメ,50,2500,1250,2011-09-09 12:00:00,2011-09-11 12:00:00,2,2011-09-14,2012-02-29,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19404,グルメ,グルメ,50,6000,3000,2011-07-09 12:00:00,2011-07-10 12:00:00,1,2011-07-11,2012-01-05,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19405,グルメ,グルメ,50,4000,2000,2011-08-01 12:00:00,2011-08-03 12:00:00,2,2011-08-04,2011-11-17,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19406,グルメ,グルメ,50,5000,2500,2011-07-13 12:00:00,2011-07-15 12:00:00,2,2011-07-18,2011-11-30,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19407,グルメ,グルメ,50,4500,2250,2011-07-24 12:00:00,2011-07-27 12:00:00,3,2011-07-28,2011-11-30,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19408,ネイル・アイ,ネイル・アイ,65,10000,3500,2011-07-14 12:00:00,2011-07-17 12:00:00,3,2011-07-18,2011-12-30,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19409,グルメ,グルメ,50,5980,2990,2011-09-30 12:00:00,2011-10-03 12:00:00,3,2011-10-04,2012-02-29,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19410,グルメ,グルメ,50,6300,3150,2011-09-03 12:00:00,2011-09-05 12:00:00,2,2011-09-06,2011-11-30,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19411,グルメ,グルメ,50,2400,1200,2011-07-15 12:00:00,2011-07-17 12:00:00,2,2011-07-18,2011-10-31,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19412,グルメ,グルメ,60,6000,2400,2011-07-23 12:00:00,2011-07-26 12:00:00,3,2011-07-27,2011-11-30,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN