In [7]:
import pandas as pd

# read in the data
users_list = pd.read_csv("../data/user_list.csv")
coupons_detail = pd.read_csv("../data/coupon_detail_train.csv")
coupons_list_train = pd.read_csv("../data/coupon_list_train.csv")
coupons_list_test = pd.read_csv("../data/coupon_list_test.csv")

coupons_detail.head()

,ITEM_COUNT,I_DATE,SMALL_AREA_NAME,PURCHASEID_hash,USER_ID_hash,COUPON_ID_hash
0,1,2012-03-28 15:06:06,兵庫,c820a8882374a4e472f0984a8825893f,d9dca3cb44bab12ba313eaa681f663eb,34c48f84026e08355dc3bd19b427f09a
1,1,2011-07-04 23:52:54,銀座・新橋・東京・上野,1b4eb2435421ede98c8931c42e8220ec,560574a339f1b25e57b0221e486907ed,767673b7a777854a92b73b0934ddfae7
2,1,2011-07-16 00:52:49,恵比寿・目黒・品川,36b5f9ba46c44b65587d0b16f2e4c77f,560574a339f1b25e57b0221e486907ed,4f3b5b91d9831192557c056022fdc1f2
3,1,2011-07-16 00:54:53,恵比寿・目黒・品川,2f30f46937cc9004774e576914b2aa1a,560574a339f1b25e57b0221e486907ed,4f3b5b91d9831192557c056022fdc1f2
4,1,2011-07-16 00:55:52,恵比寿・目黒・品川,4d000c64a55ac573d0ae1a8f03677f50,560574a339f1b25e57b0221e486907ed,4f3b5b91d9831192557c056022fdc1f2

In [47]:
# group purchased coupons by user
#user_group = coupons_detail[["USER_ID_hash", "COUPON_ID_hash"]].groupby("USER_ID_hash")
#user_group.head()

pd.merge(coupons_detail, coupons_list_test, on='COUPON_ID_hash', how = 'inner')
pd.merge(coupons_list_train, coupons_list_test, on='COUPON_ID_hash', how= 'inner')

Empty DataFrame
Columns: [CAPSULE_TEXT_x, GENRE_NAME_x, PRICE_RATE_x, CATALOG_PRICE_x, DISCOUNT_PRICE_x, DISPFROM_x, DISPEND_x, DISPPERIOD_x, VALIDFROM_x, VALIDEND_x, VALIDPERIOD_x, USABLE_DATE_MON_x, USABLE_DATE_TUE_x, USABLE_DATE_WED_x, USABLE_DATE_THU_x, USABLE_DATE_FRI_x, USABLE_DATE_SAT_x, USABLE_DATE_SUN_x, USABLE_DATE_HOLIDAY_x, USABLE_DATE_BEFORE_HOLIDAY_x, large_area_name_x, ken_name_x, small_area_name_x, COUPON_ID_hash, CAPSULE_TEXT_y, GENRE_NAME_y, PRICE_RATE_y, CATALOG_PRICE_y, DISCOUNT_PRICE_y, DISPFROM_y, DISPEND_y, DISPPERIOD_y, VALIDFROM_y, VALIDEND_y, VALIDPERIOD_y, USABLE_DATE_MON_y, USABLE_DATE_TUE_y, USABLE_DATE_WED_y, USABLE_DATE_THU_y, USABLE_DATE_FRI_y, USABLE_DATE_SAT_y, USABLE_DATE_SUN_y, USABLE_DATE_HOLIDAY_y, USABLE_DATE_BEFORE_HOLIDAY_y, large_area_name_y, ken_name_y, small_area_name_y]
Index: []

[0 rows x 47 columns]